body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-common input.ant-input.css-dev-only-do-not-override-pr0fja {
  height: 38px !important;
}

.input-common input.ant-input.css-dev-only-do-not-override-pr0fja,
.ant-select.w-100.css-dev-only-do-not-override-pr0fja.ant-select-single.ant-select-show-arrow.ant-select-show-search,
:where(.css-dev-only-do-not-override-pr0fja).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
  background: #FFF;
  height: 40px;
}

.input-common span.ant-input-affix-wrapper.w-100.css-dev-only-do-not-override-pr0fja {
  padding: 0 10px;
}

.input-common input.ant-input.css-dev-only-do-not-override-pr0fja,
:where(.css-dev-only-do-not-override-pr0fja).ant-select-single.ant-select-show-arrow .ant-select-selection-item,
:where(.css-dev-only-do-not-override-pr0fja).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder,
.select-search .ant-select-selector,
.select-search .ant-select-selector span.ant-select-selection-item {
  color: #475f7b;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 24px; */
  letter-spacing: 0.15px;
}

textarea.ant-input.css-dev-only-do-not-override-pr0fja {
  border-radius: 8px;
  background: #FFF;
  height: 200px;
}

.select-search .ant-select.w-100.css-dev-only-do-not-override-pr0fja.ant-select-single.ant-select-show-arrow {
  height: auto;
}

.input-common span.ant-input-affix-wrapper.w-100.css-dev-only-do-not-override-pr0fja {
  border-radius: 8px;
}

/* button */

.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.gradient {
  border-radius: 8px;
  background: linear-gradient(30deg, #2782A9 28.37%, #82ACEA 67.26%, #288FBB 94.02%);
  display: flex;
  width: 130px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.black {
  border-radius: 8px;
  background: #221c38;
  display: flex;
  width: 130px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}


.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.blue {
  border-radius: 8px;
  background: #094174;
  display: flex;
  width: 130px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  transition: .3s;
  -webkit-transition: .3s;
}

.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.grey {
  border-radius: 8px;
  background: #E8EAEE;
  display: flex;
  width: 130px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: #353434;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.orange {
  border-radius: 8px;
  background: #fe7524;
  display: flex;
  width: 130px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  transition: .3s;
  -webkit-transition: .3s;
}

.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.orange:hover,
.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.blue:hover {
  background: #3283cf;
}


.button-common button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-default.upload {
  border-radius: 5px;
  background: #E8EAEE;
  display: flex;
  width: 130px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: #353434;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15px;
}

/* button */

.ant-notification-notice.success-message.css-dev-only-do-not-override-pr0fja.ant-notification-notice-closable {
  border-radius: 5px;
  background: #D9FFDC;
  margin-top: 50px;
}

.ant-notification-notice.warning-message.css-dev-only-do-not-override-pr0fja.ant-notification-notice-closable {
  border-radius: 5px;
  background: #FFF3B4;
  margin-top: 50px;

}

.ant-notification-notice.fail-message.css-dev-only-do-not-override-pr0fja.ant-notification-notice-closable {
  border-radius: 5px;
  background: #FFE2E0;
  margin-top: 50px;

}

.color-success {
  color: #447C29;
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.color-fail {
  color: #F21717;
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 218.182% */
  letter-spacing: 0.15px;
}

.color-warning {
  color: #A58D0E;
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 218.182% */
  letter-spacing: 0.15px;
}

.color-title,
.font-size-icon {
  font-size: 18px;
}

.color-des {
  font-size: 15px;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table {
  font-size: 14px !important;
  font-weight: 500;
  color: #6b839f;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-thead>tr>td {
  color: #475f7b;
  background: #f1f1f1;
  font-size: 16px;
  font-weight: 500;
}

.select-page-size .ant-select-selector {
  background: #e3e3e3b3 !important;
  color: #000000 !important;
  height: 32px !important;
}

.select-page-size span.ant-select-selection-item {
  font-weight: 500 !important;
  font-size: 14px;
}

.breadcumb-container span.anticon.anticon-plus,
.input-common span.anticon.anticon-search.icon-search,
.select-search span.anticon.anticon-search.icon-search {
  font-size: 18px;
}

/*  */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fe7524;
  border-radius: 10px;
}

.ant-table-ping-left:not(.ant-table-has-fix-left) .ant-table-container::before {
  box-shadow: inset 0px 0 0px 0px rgb(0 0 0 / 15%);
}

.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
  -webkit-box-shadow: inset 0px 0 0px 0px rgb(0 0 0 / 15%);
  box-shadow: inset 0px 0 0px 0px rgb(0 0 0 / 15%);
  z-index: 1;
}

/*  */

.custom-tooltip .ant-tooltip-inner {
  border-radius: 18px;
}

td.ant-table-cell.ant-table-cell-fix-right.ant-table-cell-fix-right-first,
:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
  border-left: 1px solid #e3e3e3;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.action-admin.css-dev-only-do-not-override-pr0fja {
  padding: 4px 0px;
}

.ant-modal-content {
  padding: 0px !important;
}

.legend-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #475f7b;
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 10px;
}

.border-add {
  border: 1px solid #e3e3e3;
  padding: 30px 20px;
}


/* upload */
.made-by {
  text-align: center;
  padding-top: 50px;
  color: #896746;
}

.file-wrapper {
  width: 200px;
  height: 200px;
  border: 2px dashed #fe7524;
  border-radius: 50%;
  position: relative;
  margin: auto;
  margin-top: 5px;
  left: 0;
  right: 0;
}

.file-wrapper:after {
  content: '+';
  position: absolute;
  color: #fe7524;
  top: 0;
  bottom: 28px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  display: block;
  max-height: 85px;
  font-size: 70px;
  font-weight: bolder;
}

.file-wrapper:before {
  content: 'Tải ảnh lên';
  color: #fe7524;
  font-size: 18px !important;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: -10px auto;
  bottom: 48px;
  width: max-content;
  height: max-content;
  font-size: 0.75em;
}

.file-wrapper:hover:after {
  font-size: 73px;
}

.file-wrapper .close-btn {
  display: none;
}

input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99999;
  cursor: pointer;
}

.file-set {
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
  padding: 10px;
  border-width: 0px;
}

.file-set:hover {
  transition: all 0.5s ease-out;
  filter: brightness(110%);
}

.file-set:before {
  color: transparent;
}

.file-set:after {
  color: transparent;
}

.file-set .close-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  display: block;
  background: #000;
  color: #fff;
  top: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
  opacity: 0.8;
}

.file-set>input {
  pointer-events: none;
}

p.ant-upload-text {
  color: #094174 !important;
  font-weight: 600;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;

  small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto;

  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;

    input {
      display: none;

      +label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }

        &:after {
          content: "\f040";
          font-family: 'FontAwesome';
          color: #757575;
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }

  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    >div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

/* upload */